/*
Modular scale
*/

html {
  font-family: 'Signika', arial, impact;
  text-align: center;
  color: #0dbc78;
}

h1 {
  font-size: 3em;
  text-decoration: underline;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

ul {
  text-decoration: underline;
}

label {
  font-size: 2em;
  display: block;
}

input {
  text-align: center;
  width: 80%;
  margin: 10px 0;
  padding: 15px;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;
}
  
#final {
  font-family: 'Signika', arial;
  text-align: center;
  border-bottom-style: solid;
  background-color: #0dbc78;
}

.pic {
  width: 85%;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

#entrybutton {
  width: 200px;
  color: #fff;
  background-color: #C0C0C0;
  padding: 1em 0;
  margin: 20px auto;
  font-size: 1.25em;
  font-weight: bold;

}

/*425 mobile, 426-769 tablet, 770-max laptop */
@media only screen and (min-width: 426px){
  html {
    color: #ca1c36;
  }
  
  h1 {
    font-size:4em;
  }

  #final {
    background-color: #ca1c36
  }
}

@media only screen and (min-width: 770px){
  html {
    color: #eb902d;
  }

  h1 {
    font-size: 5em;
  }

  input {
    text-align: left;
    width: 70%;
    padding: 25px 50px;
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
  }

  .pic{
    width: 35%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }

  #final {
    background-color: #eb902d
  }
}