/*
  Modular scale
  https://www.modularscale.com/?22,30&px&1.25
*/

html {
  font-family: 'Signika', arial, impact;
  text-align: center;
  color: #0dbc78;
  font-size: 18px; /* 1.375em */
}

h1 {
  font-size: 55px; /* 3.438em */
  text-decoration: underline;
  padding-bottom: 10px;
}

h2 {
  font-size: 25px; /* 1.563em */
  padding-bottom: 10px;
}

.pic {
  width: 85%;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

ul {
  text-decoration: underline;
}

label {
  font-size: 30px; /* 1.875em */
  display: block;
}

input {
  text-align: center;
  width: 80%;
  margin: 10px 0;
  padding: 15px;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;
}

#entrybutton {
  width: 200px;
  color: #fff;
  background-color: #C0C0C0;
  padding: 1em 0;
  margin: 20px auto;
  font-size: 22px; /* 1.375em */
  font-weight: bold;

}

#final {
  font-family: 'Signika', arial;
  text-align: center;
  border-bottom-style: solid;
  background-color: #0dbc78;
  font-size: 25px; /* 1.563em */
}

/*425 mobile, 426-769 tablet, 770-max laptop */
@media only screen and (min-width: 426px){
  html {
    color: #ca1c36;
	font-size: 20px; /* 1.25em */ 
  }
  
  h1 {
    font-size: 70px; /* 4.375em */ 
  }
  
  h2 {
    font-size: 32px; /* 2em */ 
  }
  
  .pic {
    width: 80%;
    padding: 15px;
  }
  
  label {
    font-size: 35px; /* 2.188em */ 
  }
  
  input {
    text-align: left;
    width: 70%;
    padding: 25px 50px;
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
  }
  
  #entrybutton {
    font-size: 28px; /* 1.75em */ 
  }

  #final {
    background-color: #ca1c36;
	font-size: 32px; /* 2em */ 
  }

}

@media only screen and (min-width: 770px){
  html {
    color: #eb902d;
	font-size: 20px; /* 1.25em */ 
  }

  h1 {
    font-size: 90px; /* 5.625em */ 
  }
  
  h2{
    font-size: 42px; /* 2.625em */ 
  }
  
  .pic{
    width: 35%;
    border-radius: 20px;
    border: 1px solid #C0C0C0;
    padding: 20px;
  }
  
  label{
    font-size: 38px; /* 2.375em */ 
  }

  input {
    text-align: left;
    width: 70%;
    padding: 25px 50px;
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
  }

  #entrybutton {
    font-size: 29px; /* 1.813em */ 
  }

  #final {
    background-color: #eb902d;
	font-size: 34px; /* 2.125em */ 
  }
}